* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: calc(100vh - 65px) !important;
}

.login,
.contact,
.registration {
    padding: 50px;
    border: 1px solid #ced4da;
}

.registration__form button,
.login__form button {
    width: 100%;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0d6efd;
}

.contact {
    width: 100%;
}

.logout:hover {
    color: white;
    background-color: #dc3545;
}

/* search */
.search-box {
    width: 400px;
}
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}

.filter-box {
    width: 400px;
}

/* dashboard - cards */
.card {
    background-color: #f4f5f7;
}

.card-title {
    font-size: 15px;
}

.inside-card {
    margin: 10px 0;
    border-radius: 3px;
    background-color: white;
}

.inside-card:hover {
    background-color: rgb(221 235 255);
    cursor: pointer;
}

.create-issue {
    width: 100%;
}

.create-issue:hover {
    background-color: #d8d8d8;
}

/* edit-user form */
.user_edit {
    width: 100%;
    padding: 50px;
    border: 1px solid #ced4da;
}

.user_edit__form__box_button {
}

.user_edit__form,
.login__form {
    /* width: 300px; */
}

.form-element__login {
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-wrap: wrap;
}

.user_edit__form__box {
    flex: 2;
    margin: 20px;
}

.user_edit__form__box_button {
    flex: 1 100%;
    margin: 0 20px;
}

.user_edit__form__box_button > button {
    width: 48.5%;
}

.needs-validation {
    display: flex;
}
